@use "@/styles/mixins" as *;

.card {
  @include card-surface;

  color: var(--ao-font-color-secondary);
  overflow: hidden;
  width: auto;
}

.clickable {
  cursor: pointer;
}

.header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: var(--ao-spacing-3) var(--ao-spacing-4);
}

.title {
  color: var(--ao-font-color-primary);
  font-size: var(--ao-font-size-md);
  font-weight: var(--ao-font-weight-semibold);
}

.subtitle {
  color: var(--ao-font-color-tertiary);
  font-size: var(--ao-font-size-sm);
  margin-top: var(--ao-spacing-1);
}

.content {
  padding: var(--ao-spacing-4);
}

.footer {
  align-items: center;
  border-block-start: 1px solid var(--ao-border-color-medium);
  display: flex;
  gap: var(--ao-spacing-3);
  justify-content: flex-end;
  padding: var(--ao-spacing-2) var(--ao-spacing-4);
}
