.linkContainer {
  display: inline-flex;
  min-width: 0;
  vertical-align: middle;

  & > a {
    max-width: 100%;
    min-width: 0;
    text-decoration: none;
  }
}

.bold {
  font-weight: var(--ao-font-weight-medium);
}

.hasMaxWidth {
  max-width: calc(var(--chip-max-width) - 2 * var(--ao-spacing-1));
}

.emptyLabel {
  color: var(--ao-font-color-tertiary);
}

.rightComponentDivider {
  align-self: stretch;
  border-inline-start: 1px solid var(--ao-border-color-light);
}
