@use "@/styles/mixins" as *;

.skeleton {
  @include skeleton-loading;

  border-radius: var(--ao-radius-sm);
  display: block;
}

.text {
  border-radius: var(--ao-radius-sm);
  height: calc(var(--ao-spacing-4) - 2px);
  width: 100%;
}

.circle {
  border-radius: 50%;
  height: var(--ao-spacing-10);
  width: var(--ao-spacing-10);
}

.rect {
  border-radius: var(--ao-radius-md);
  height: var(--ao-spacing-25);
  width: 100%;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: var(--ao-spacing-3);
}
