.sectionTitle {
  padding: var(--ao-spacing-2) var(--ao-spacing-4);
}

.employeeRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ao-spacing-2);
  padding: var(--ao-spacing-2) var(--ao-spacing-4);
  width: 100%;
}

.workingDaysRow {
  display: flex;
  gap: var(--ao-spacing-1);
  flex-wrap: wrap;
}
