.pill {
  align-items: center;
  background-color: var(--ao-background-tertiary);
  border-radius: var(--ao-radius-pill);
  color: var(--ao-font-color-secondary);
  display: inline-flex;
  font-size: var(--ao-font-size-xxs);
  font-weight: var(--ao-font-weight-medium);
  gap: var(--ao-spacing-1);
  letter-spacing: 0.03em;
  line-height: 1;
  padding: var(--ao-spacing-0_5) var(--ao-spacing-2);
  text-transform: uppercase;
  white-space: nowrap;
}
