.dot {
  border-radius: var(--ao-radius-full);
  display: inline-block;
  flex-shrink: 0;
}

.sm {
  height: var(--ao-spacing-2);
  width: var(--ao-spacing-2);
}

.md {
  height: var(--ao-spacing-3);
  width: var(--ao-spacing-3);
}
