@use "@/styles/mixins" as *;

.content {
  background: var(--ao-background-primary);
  border: 1px solid var(--ao-border-color-medium);
  border-radius: var(--ao-radius-md);
  box-shadow: var(--ao-shadow-md);
  display: flex;
  flex-direction: column;
  gap: var(--ao-spacing-1);
  max-height: min(calc(var(--ao-spacing-30) * 4), calc(100vh - var(--ao-spacing-8)));
  min-width: calc(var(--ao-spacing-32) + var(--ao-spacing-13));
  overflow-y: auto;
  padding: var(--ao-spacing-1);
}
