.root {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-start;
  border-radius: var(--ao-radius-pill);
  background-color: var(--ao-background-transparent-medium);
  cursor: pointer;
  transition: background-color duration(normal) ease;

  &[data-checked] {
    background-color: var(--ao-accent-accent9);
  }

  &[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.thumb {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  border-radius: 50%;
  background-color: var(--ao-background-primary);
  transition: transform duration(normal) ease;
  width: 16px;
  height: 16px;
  transform: translate(2px, -50%);
}

.root {
  width: 32px;
  height: 20px;
}

.root[data-checked] .thumb {
  transform: translate(14px, -50%);
}

[dir="rtl"] .root[data-checked] .thumb {
  transform: translate(-14px, -50%);
}
