@use "@/styles/mixins" as *;

.grid {
  display: grid;
  gap: var(--ao-spacing-6);
}

.grid[data-cols="2"] {
  grid-template-columns: 1fr 1fr;

  @include respond-to("mobile") {
    grid-template-columns: 1fr;
  }
}

.grid[data-cols="auto"] {
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--ao-spacing-30) * 2 + var(--ao-spacing-10)), 1fr)
  );
}
