@use "@/styles/mixins" as *;

.card {
  background: var(--ao-background-primary);
  border-radius: var(--ao-radius-xl) 0 0 0;
  box-shadow: var(--ao-shadow-page);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  width: 100%;

  @include respond-to("mobile") {
    border-radius: 0;
    box-shadow: none;
  }
}
