@use "@/styles/mixins" as *;

.card {
  background: var(--ao-background-primary);
  border: 1px solid var(--ao-border-color-light);
  border-radius: var(--ao-radius-md);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  @include respond-to("mobile") {
    border-radius: 0;
    border: none;
  }
}
