.ellipsis {
  align-items: center;
  display: flex;
  height: var(--ao-spacing-5);
  max-width: var(--ellipsis-max-width, 100%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
