@use "@/styles/mixins" as *;

.spinner {
  animation: spin 0.8s linear infinite;
  border-color: var(--ao-border-color-medium);
  border-radius: 50%;
  border-style: solid;
  border-right-color: var(--ao-accent-accent9);
  display: inline-block;
  flex-shrink: 0;
}

.sm {
  border-width: var(--ao-spacing-0_5);
  height: var(--ao-spacing-4);
  width: var(--ao-spacing-4);
}

.md {
  border-width: calc(var(--ao-spacing-0_5) + 0.5px);
  height: var(--ao-spacing-6);
  width: var(--ao-spacing-6);
}

.lg {
  border-width: var(--ao-spacing-1);
  height: var(--ao-spacing-8);
  width: var(--ao-spacing-8);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
